<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name ="freshflows">
 
<listeners>
	<listener class-name ="com.freshflows.utilities.Reporing"></listener>
</listeners> 
	<test name ="freshflows application">
		<parameter name = "browser" value ="chrome" />
		<classes>
			<class name ="com.freshflows.testCases.TC_01">
			</class>
		</classes>
	</test>
</suite>